.bookshelves-container {
    border: 1px solid green;
    height: 100vh;
    display: grid;
    gap: 10px;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
}

.bookshelf {
    border: 1px dashed red;
    height: 100%;
    display: flex;
}

.bookshelf .bookshelf-number {
    border: 1px dashed violet;
    color: var(--accent-color)
}
