// Start by defining colors
body {
    --color-site-background: #F6F3EA;
    --accent-color: #F9423A;
}

// Import global styles
@import "global";

// Import styling for bookshelves found on index page
@import "bookshelves";
