.reactListWrapper {
  width: 100%;
  max-width: 850px;
  height: 100%;
  margin: 0 auto 0 auto;
}

.bookSpineLink {
  background-color: #fff;
  perspective: 200vw;
  display: inline-flex;
  margin: 0 0 1.5vh 0;
  padding: 0;
  text-decoration: none;
}

.bookIsBought {
  opacity: .6;
}

.bookSpineLink:hover {
  transform-origin: center bottom;
  transform-style: preserve-3d;
  transform: rotateX(-10deg) translateZ(3rem) translateX(-0.09rem) translateY(-.5rem);
  transition: all 200ms;
  box-shadow: 1px 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.svg-title {
  text-transform: uppercase;
  letter-spacing: 0.02em;
  font-weight: 600;
}

.svg-subtitle {
  font-size: 95%;
  letter-spacing: 0.03em;
  font-style: italic;
}

.svg-volume-number {
  fill: rgb(225, 23, 23);
}

.svg-author {
  font-size: 90%;
  letter-spacing: 0.03em;
  font-variant: small-caps;
}
